<label for="title">
	<f:translate key="tx_itaodownload_domain_model_download.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="title" /><br />
<label for="file">
	<f:translate key="tx_itaodownload_domain_model_download.file" /> <span class="required">(required)</span>
</label><br />
	<f:form.upload property="file" /><br />
<label for="shortDescription">
	<f:translate key="tx_itaodownload_domain_model_download.short_description" />
</label><br />
	<f:form.textbox property="shortDescription" /><br />
<label for="longDescription">
	<f:translate key="tx_itaodownload_domain_model_download.long_description" />
</label><br />
	<f:form.textarea property="longDescription" cols="40" rows="15" /><br />