<label for="title">
	<f:translate key="offer.create.title" /> 
</label><br />
	<f:form.textfield class="valueField jsRequired" property="title" /><br />
<label for="description">
	<f:translate key="offer.create.description" /> 
</label><br />
	<f:form.textarea class="jsRequired valueField" property="description" cols="40" rows="15" /><br />
<label for="costs">
	<f:translate key="offer.create.costs" />
</label><br />
	<f:form.textfield class="numberValidation valueField" property="costs" /><br />