<table class="tx-itao-shh-offers" >
	<tr>
		<td>
			<f:translate key="tx_itaoshhoffers_domain_model_offer.title" />
		</td>
		<td>
			{offer.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_itaoshhoffers_domain_model_offer.description" />
		</td>
		<td>
			{offer.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_itaoshhoffers_domain_model_offer.costs" />
		</td>
		<td>
			{offer.costs}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_itaoshhoffers_domain_model_offer.costs_help" />
		</td>
		<td>
			{offer.costsHelp}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_itaoshhoffers_domain_model_offer.images" />
		</td>
		<td>
			{offer.images}
		</td>
	</tr>
</table>