<f:layout name="NewOffers" />

<f:section name="main">
	<f:render partial="FilterHiddenFields" arguments="{filter : filter, orderings : orderings, actTab : actTab}"/>
	
	<f:if condition="{allOffers}">
		<f:then>
			<h3>
				<f:translate key="offer.allOffers.heading"/>
			</h3>
			<f:groupedFor each="{offers}" as="schoolOffers" groupBy="school" groupKey="school">
				<h4>{school.title}</h4>
				<f:for each="{schoolOffers}" as="offer">
					<f:render partial="OfferEntry" arguments="{offer : offer, returnAction : 'newOffers', actSorting : 0, rights : rights }"/>	
				</f:for>
			</f:groupedFor>
		</f:then>
		<f:else>
			<f:if condition="{offers}">
				<f:then>
					<f:for each="{offers}" as="offer">
						<f:render partial="OfferEntry" arguments="{offer : offer, returnAction : 'newOffers', actSorting : 0, rights : rights }"/>	
					</f:for>
				</f:then>
				<f:else>
					<span class="noOffers meta">
						<f:translate key="offer.sorted.noOffers" />
					</span>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
	
</f:section>