<f:layout name="Default" />
<f:section name="main">
	<div class="sideBox">
		<header>
			<div class="headerLeft">&nbsp;</div>
			<div class="headerContent printOfferHeader"><div class="sideBoxIcon">&nbsp;</div><h4><f:translate key="sidebox.printOffers.heading" /></h4></div>
			<div class="headerRight">&nbsp;</div>
		</header>
		<div class="sideBoxContent">
			<div class="innerContent">
				<div class="printOffers">
					<f:render partial="PrintButton"  arguments="{school : school}" />
				</div>
			</div>
		</div>
	</div>
</f:section>	