<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{schools}">
		<table class="schoolsStatusBox">
			<tr>
				<th><f:translate key="school.status.th.school"/></th>
				<th><f:translate key="school.status.th.phase"/></th>
				<th><f:translate key="school.status.th.numberOfOffers"/></th>
			</tr>
			<f:for each="{schools}" as="school">
				<f:cycle values="{0: 'odd', 1: 'even'}" as="zebraClass">
					<tr class="{zebraClass}">
				</f:cycle>
					<td>{school.data.title}</td>
					<td>{school.data.refStatus.title}</td>
					<td>{school.numberOfOffers}</td>
				</tr>
			</f:for>
		</table>
	</f:if>
</f:section>