<div class="download-form">
	<label for="title">
		<f:translate key="tx_itaodownload_domain_model_download.title" /> <span class="required">(required)</span>
	</label><br />
		<f:form.textbox property="title" class="tx_itaodownload_edit_textfield" /><br />
	<label for="file">
		<f:translate key="tx_itaodownload_domain_model_download.file" /> <span class="required">(required)</span>
	</label><br />
		<f:form.textbox property="file" class="tx_itaodownload_edit_textfield" /><br />
		<!--<f:form.upload property="file" /><br />-->
	<label for="shortDescription">
		<f:translate key="tx_itaodownload_domain_model_download.short_description" />
	</label><br />
		<f:form.textbox property="shortDescription" class="tx_itaodownload_edit_textfield" /><br />
	<label for="longDescription">
		<f:translate key="tx_itaodownload_domain_model_download.long_description" />
	</label><br />
		<f:form.textarea property="longDescription" cols="40" rows="15" /><br />
	
	<label for="category">
		<f:translate key="tx_itaodownload_domain_model_download.category" />:<br />
	</label>
		<!--<f:form.textbox property="category" class="tx_itaodownload_edit_textfield" /><br />-->
	<div class="actual-categories">	
		<f:if condition="{download.category}">
			<f:then>
				<f:for each="{download.category}" as="cat">
					{cat.title}<br />
				</f:for>
			</f:then>
		</f:if>
	</div>
	<div class="available-categories">
		<f:if condition="{categories}">
			<f:then>
				<f:for each="{categories}" as="category">
					{category.title}<br />	
				</f:for>
			</f:then>	
		</f:if>
	</div>
</div>

