<table class="tx-itaodownload-pi1" >
	<tr>
		<td>
			<f:translate key="tx_itaodownload_domain_model_download.title" />
		</td>
		<td>
			{download.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_itaodownload_domain_model_download.file" />
		</td>
		<td>
			{download.file}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_itaodownload_domain_model_download.short_description" />
		</td>
		<td>
			{download.shortDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_itaodownload_domain_model_download.long_description" />
		</td>
		<td>
			{download.longDescription}
		</td>
	</tr>
</table>