<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Schülerhaushalt Homepage</title>
		<script src="js/vendor/modernizr-2.6.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" /> 
	</head>
	<body>
		<!-- HEADER -->
		<section id="header">
			<div class="innerContent">
				<div id="headerImage"><img src="fileadmin/templates/img/header_bg.jpg" alt="schuelerhaushalt"/></div>
				<div class="schoolName">
					<span>Gemeinschaftshauptschule der Stadt Rietberg</span>
				</div>
				<div id="logout">

				</div>
				<!--  @todo add header image -->
			</div>
		</section>
		<!-- end of #header -->
		<!-- NAVIGATION -->
		<section id="navigation">
			<div class="innerContent">
				<nav id="mainNavigation">
					<ul class="level-1">
						<li class="first"><a href="#">Homepage</a></li>
						<li><a href="#">Über das Projekt</a></li>
						<li><a href="#">Beteiligte Schulen</a></li>
						<li class="last"><a href="#">Zum Login</a></li>
					</ul>
				</nav>
				<nav id="responsiveNavi">
				</nav>
				<!-- end of #mainNavigation -->

				<nav id="service">
					<div id="searchbox">
						<form action="#">
							<input type="text" placeholder="Suchbegriff" /> <input
								type="submit" value="" />
						</form>
					</div>
					<!-- end of searchbox -->
				</nav>
			</div>
		</section>
		<!-- end of #navigation -->

		<!-- CONTENT -->
		<section id="content">
			<div class="innerContent">
				<article id="mainContent">
					<nav id="breadcrumb"></nav>
					<h1>H1 Willkommen beim Schülerhaushalt</h1>
					<h2>H2 Subtitle? Noch nicht defeniert</h2>
					<div>
						<p class="bodytext">
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
							nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
							erat, sed diam voluptua. Mit Link <a href="#">At vero</a> eos et
							accusam et justo duo dolores et ea rebum. Stet clita kasd
							gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
							nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
							erat, sed diam voluptua. At vero eos et accusam et justo duo
							dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
							sanctus est Lorem ipsum dolor sit amet.
						</p>
						<h3>H3 Zwischenüberschrift</h3>
						<p class="bodytext">Duis autem vel eum iriure dolor in hendrerit
							in vulputate velit esse molestie consequat, vel illum dolore eu
							feugiat nulla facilisis at vero eros et accumsan et iusto odio
							dignissim qui blandit praesent luptatum zzril delenit augue duis
							dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
							consectetuer adipiscing elit, sed diam nonummy nibh euismod
							tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
						<h4>H4 Zwischenüberschrift - Nicht defeniert</h4>
						<p class="bodytext">
							Ut wisi enim ad minim veniam, quis nostrud exerci tation
							ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
							consequat. Externer Link <a href="#" class="externalLink">Duis
								autem vel eum iriure dolor</a> in hendrerit in vulputate velit esse
							molestie consequat, vel illum dolore eu feugiat nulla facilisis at
							vero eros et accumsan et iusto odio dignissim qui blandit praesent
							luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
						</p>
						<h3>H5 Tabelle</h3>
						<table class="contenttable" summary="Dies ist eine Tabelle: Summary">
							<caption>Dies ist eine Tabelle: Caption</caption>
							<thead>
								<tr>
									<th scope="col">Lorem</th>
									<th scope="col">Ipsum</th>
									<th scope="col">Lorem</th>
									<th scope="col">Ipsum</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Ein bisschen Inhalt</td>
									<td>Ein bisschen mehr Inhalt ohne das man genau weiß,
										wieviel hier hinein kommt.</td>
									<td>Wieder etwas weniger Inhalt</td>
									<td>Ipsum</td>
								</tr>
								<tr>
									<td>Ipsum</td>
									<td>Ein bisschen Inhalt</td>
									<td>Wieder etwas weniger Inhalt</td>
									<td>Ein bisschen mehr Inhalt ohne das man genau weiß,
										wieviel hier hinein kommt.</td>
								</tr>
							</tbody>
						</table>
						<h3>H3 Fließtext mit geschachtelter Liste</h3>
						<p class="bodytext">
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
							nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
							erat, sed diam voluptua. Mit Link <a href="#">At vero</a> eos et
							accusam et justo duo dolores et ea rebum. Stet clita kasd
							gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
							nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
							erat, sed diam voluptua. At vero eos et accusam et justo duo
							dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
							sanctus est Lorem ipsum dolor sit amet.
						</p>
						<ul>
							<li>Lorem</li>
							<li>Lorem</li>
							<li>Lorem
								<ul>
									<li>Eine Liste in einer Liste
										<ul>
											<li>Eine Liste in einer Liste in einer Liste
												<ul>
													<li>Eine Liste in einer Liste in einer Liste in einer
														Liste</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</article>
				<!-- end of #mainContent -->
				<aside id="sideContent">
					<div class="innerContent">
						<div id="contentTopWrapMeOuther">

						</div>
						<div id="loginWrapMeOuther">

						</div>	
						<div id="contentWrapMeOuther">
							<div class="sideBox contentSidebox">
								<header>
									<div class="headerLeft">&nbsp;</div>
									<div class="headerContent"><h4>Content Sidebox</h4></div>
									<div class="headerRight">&nbsp;</div>
								</header>
								<div class="sideBoxContent">
									<div class="innerContent">
										TYPO3 Standard-Content
									</div>
								</div>
							</div>	
							<div class="sideBox">


								<header>
									<div class="headerLeft">&nbsp;</div>
									<div class="headerContent staff"><div class="sideBoxIcon">&nbsp;</div><h4>Ansprechpartner</h4></div>
									<div class="headerRight">&nbsp;</div>
								</header>
								<div class="sideBoxContent">
									<div class="innerContent">
										<div class="staff">
											<div class="member tx-jpstaff-pi1-first tx-jpstaff-pi1-odd ">
												<div class="memberImage">
													<a href="service/kontakt/ihr-ansprechpartner/ansprechpartner/alexanderkoop/index.nc"><img width="93" height="137" title="Alexander Koop" alt="Alexander Koop" src="typo3temp/pics/e31689296b.jpg"></a>
												</div>

												<div class="memberData">
													<span class="name"><a href="service/kontakt/ihr-ansprechpartner/ansprechpartner/alexanderkoop/index.nc"> Alexander Koop</a></span>
													<span class="position">
														Projektmanager
													</span>
													<span class="branch">
														Bertelsmann Stiftung
													</span>		            
													<span class="description">

													</span>
													<div class="tx-jpstaff-member-phone">
														<span class="telIcon">Tel.:</span> <span class="tel">0176 243 562 8574</span>
													</div>
													<span class="email">
														<a href="service/kontakt/ihr-ansprechpartner/ansprechpartner/alexanderkoop/index.nc">E-Mail</a>
													</span>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="sideBox">
								<header>
									<div class="headerLeft">&nbsp;</div>
									<div class="headerContent download"><div class="sideBoxIcon">&nbsp;</div><h4>Downloads</h4></div>
									<div class="headerRight">&nbsp;</div>	
								</header>
								<div class="sideBoxContent">
									<div class="innerContent">
										<div class="DownloadEntry">
											<div class="">
												<a href="http://dev2.schuelerhaushalt.de/uploads/tx_itao_download/Infoflyer-Rietberg.pdf" title="" target="_blank" class="">
													<span class="downloadTitle">Infoflyer Rietberg..</span> (<span class="fileSize"></span>)
												</a>
												<span class="shortDescription">Informationsflyer zum Schülerhaushalt in Rietberg</span>
											</div>
										</div>
									</div>	
								</div>
							</div>
							<div class="sideBox">
								<header>
									<div class="headerLeft">&nbsp;</div>
									<div class="headerContent">
										<div class="sideBoxIcon">&nbsp;</div>
										<h4>FCE Sidebox</h4>
									</div>
									<div class="headerRight">&nbsp;</div>
								</header>
								<div class="sideBoxContent">
									<div class="innerContent">
										<p class="bodytext">Sidebox Content. Text. In einem
											Paragraphen. Nicht sehr aussagekräftig, aber soll für das Erste
											wohl reichen. Oder etwa doch nicht? Wir werden es sehen.</p>
									</div>
								</div>
							</div>

							<div class="sideBox">
								<header>
									<div class="headerLeft">&nbsp;</div>
									<div class="headerContent login">
										<div class="sideBoxIcon">&nbsp;</div>
										<h4>Login</h4>
									</div>
									<div class="headerRight">&nbsp;</div>
								</header>
								<div class="sideBoxContent">
									<div class="innerContent">
										<div class="feLogin">
											<form action="#">
												<fieldset>
													<input type="text" placeholder="Benutzername" /> <input
														type="password" placeholder="Passwort" />
												</fieldset>
												<input type="submit" value="Einloggen" />
											</form>
											<div class="passwordForgotten">
												<header>Passwort vergessen?</header>
												Wenn du eine Email-Adresse angegeben hast, kannst du <a
													class="passwordForgottenLink" href="#">hier dein Passwort
													zurücksetzen</a>
											</div>
											<div class="guestLogin">
												<header>Gästelogin</header>
												Du kannst dich <a href="#">hier als Gast anmelden</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</aside>
				<!-- end of #sideContent -->
			</div>
			<div id="etracker">&nbsp;</div>
		</section>
		<!-- end of #content -->

		<!-- FOOTER -->
		<section id="footer">
			<div class="innerContent">
				<div id="yourChoice">
					<a href="#">
						<img src="img/your_choice_icon.png" alt="Deine Schule. Deine Entscheidung."/>
					</a>
				</div>
				<div id="bottomService">
					<nav id="generalInfo">
						<ul>
							<li><a href="#">Datenschutz</a></li>
							<li><a href="#">Impressum</a></li>
						</ul>
					</nav>
					<!-- end of #generalInfo -->
					<div id="copyright">
						Copyright 2012 by <a href="#"><img src="img/sfiftungs_logo.png"></a>
					</div>
					<!-- end of #copyright -->
				</div>
				<!-- end of bottomService -->
			</div>
		</section>
		<!-- end of #footer -->

	</body>
</html>