<!-- ###CONTACT_LIST_VIEW### begin -->
	<div class="tx-jpstaff-pi1-members-contact-list">  
	<!-- ###CONTACT_LIST_VIEW_ENTRY### begin --> 
		    <div class="sideBox tx-jpstaff-pi1-members-contact-list-entry tx-jpstaff-pi1-first tx-jpstaff-pi1-last tx-jpstaff-pi1-odd">	    
	      		<div class="wrap">
		       <header><h4>###BOXTITEL###</h4></header>
		        <div class="tx-jpstaff-pi1-member-image">
		            ###MEMBER_IMAGE###
		        </div>
		
		        <div class="infos">
				 
		            <div class="memberName">
		            	###MEMBER_TITLE### ###MEMBER_FIRST_NAME### ###MEMBER_LAST_NAME###
		            </div>
		            <div class="tx-jpstaff-pi1-member-position">
		            	###MEMBER_POSITION###
		            </div>
		            <div class="tx-jpstaff-pi1-member-branch">
		            	###MEMBER_BRANCH###
		            </div>		            
		            <div class="tx-jpstaff-member-phone">
		            	###MEMBER_TELEPHONE###
		            </div>
		            <div class="tx-jpstaff-pi1-member-contact-link">
		            	###LINK_MEMBER###
		            </div>
		        </div>	      
		        </div> 
		    </div>
	     <!-- ###CONTACT_LIST_VIEW_ENTRY### end -->
	</div>
<!-- ###CONTACT_LIST_VIEW### end -->


<!-- ###MEMBER_DETAIL_VIEW### begin -->


	<div class="tx-jpstaff-pi1-members-detail styled-form clearfix">
	<!-- ###MEMBER_DETAIL_VIEW_ENTRY### begin --> 
	<!-- ###MEMBER_GROUPS_LIST### begin -->
		<!-- ###MEMBER_GROUPS_LIST_ENTRY### begin -->
		<h2>###GROUP_TITLE###</h2>
		<!-- ###MEMBER_GROUPS_LIST_ENTRY### end -->
	<!-- ###MEMBER_GROUPS_LIST### end -->		  
	
	<!-- ###SEND_MESSAGE_SUCCESS### begin -->
		<p class="success">
			###MESSAGE###
		</p>

		<!-- ###SEND_MESSAGE_SUCCESS### end -->
       
		<!-- ###SEND_MESSAGE_ERRORS### begin -->
		<p class="error">###MESSAGE###</p>
		<ul class="notice">
			<!-- ###SEND_MESSAGE_ERROR### begin -->
			<li>###ERROR_MESSAGE###</li>
			<!-- ###SEND_MESSAGE_ERROR### end -->
		</ul>

		<!-- ###SEND_MESSAGE_ERRORS### end -->
	
		<div class="clearfix">
			<div class="wrap">
				<div class="imageWrapper">
					###MEMBER_IMAGE###
				</div>
		        <div class="infos">
		            <div class="memberName">
		            	<h3>###MEMBER_TITLE### ###MEMBER_FIRST_NAME### ###MEMBER_LAST_NAME###</h3>
		            </div>
		            <div class="tx-jpstaff-pi1-member-position">
		            	###MEMBER_POSITION###
		            </div>
		            <div class="tx-jpstaff-pi1-member-branch">
		            	###MEMBER_BRANCH###
		            </div>		            
		            <div class="tx-jpstaff-member-phone">
		            	###MEMBER_TELEPHONE###
		            </div>
		        </div>	
			</div>
		</div>
	
		
		<!-- ###MAILFORM### begin -->
			
		<!-- ###MAILFORM### end -->
			
	<!-- ###MEMBER_DETAIL_VIEW_ENTRY### end --> 
	</div>
<!-- ###MEMBER_DETAIL_VIEW### end -->


<!-- ###MEMBERS_LIST_VIEW### begin -->
	<div class="sideBox">


		<header>
			<div class="headerLeft">&nbsp;</div>
			<div class="headerContent staff"><div class="sideBoxIcon">&nbsp;</div><h4>Ansprechpartner</h4></div>
			<div class="headerRight">&nbsp;</div>
		</header>
		<div class="sideBoxContent">
		<div class="innerContent">
		<div class="staff">
			<!-- ###MEMBERS_LIST_VIEW_ENTRY### begin -->   
			<div class="member###ADDITIONAL_CLASSES### ">
				<div class="memberImage">
					<!-- ###LINK_MEMBER_WRAP### begin -->###MEMBER_IMAGE###<!-- ###LINK_MEMBER_WRAP### end -->
				</div>
				
					<div class="memberData">
					  <span class="name"><!-- ###LINK_MEMBER_WRAP### begin -->###MEMBER_TITLE### ###MEMBER_FIRST_NAME### ###MEMBER_LAST_NAME###<!-- ###LINK_MEMBER_WRAP### end --></span>
						<span class="position">
							###MEMBER_POSITION###
						</span>
						<span class="branch">
							###MEMBER_BRANCH###
						</span>		            
						<span class="description">
							###MEMBER_DESCRIPTION###
						</span>
						<span class="email">
							###LINK_MEMBER###
						</span>
					</div>	
			</div>
			<!-- ###MEMBERS_LIST_VIEW_ENTRY### end --> 
			</div>
			</div>
			</div>
	</div>


<!-- ###MEMBERS_LIST_VIEW### end -->











<!-- ###GROUPS_LIST_VIEW### begin -->
		<!-- ###GROUPS_LIST_VIEW_ENTRY### begin -->   
			<!-- ###GROUPS_TITLE### begin -->
				<h3>###GROUP_TITLE###</h3>
			<!-- ###GROUPS_TITLE### end -->
				<div class="tx-jpstaff-pi1-members-contact-list clearfix">	           
				<!-- ###GROUPS_MEMBERS_LIST### begin -->
					<!-- ###GROUPS_MEMBERS_LIST_ENTRY### begin -->   
					<div class="tx-jpstaff-pi1-members-contact-list-entry box clearfix ###ADDITIONAL_CLASSES###">
						<address>
							<span class="name">
								###MEMBER_TITLE### ###MEMBER_FIRST_NAME### ###MEMBER_LAST_NAME###
							</span>
							<span class="branch">
				               	###MEMBER_BRANCH###
							</span>				
							<span class="position">
				               	###MEMBER_POSITION### 
							</span>
							<span class="telephone">
								###MEMBER_TELEPHONE_LABEL### ###MEMBER_TELEPHONE###
							</span>
							<span class="email">
								###LINK_MEMBER###
							</span>
						</address>	
					</div>
					<!-- ###GROUPS_MEMBERS_LIST_ENTRY### end --> 
	    		<!-- ###GROUPS_MEMBERS_LIST### end -->
				</div>	    
		<!-- ###GROUPS_LIST_VIEW_ENTRY### end --> 
<!-- ###GROUPS_LIST_VIEW### end -->


<li class="tx-jpstaff-pi1-groups-list-entry"><!-- ###LINK_GROUP_WRAP### begin -->###GROUP_TITLE###<!-- ###LINK_GROUP_WRAP### end --></li>

<!-- ###GROUP_DETAIL_VIEW### begin -->
    <div class="tx-jpstaff-pi1-group-detail">
	    <!-- ###GROUP_DETAIL_VIEW_ENTRY### begin -->   
	       <div class="tx-jpstaff-pi1-group-detail-entry###ADDITIONAL_CLASSES###">
	           <!-- ###GROUPS_TITLE### begin -->
	           <h3>###GROUP_TITLE###</h3>
	           ###LINK_GROUP###
	           <!-- ###GROUPS_TITLE### end -->
	           
	           <!-- ###GROUPS_DESCRIPTION### begin -->
		       <p class="tx-jpstaff-pi1-group-description">###GROUP_DESCRIPTION###</p>
	           <!-- ###GROUPS_DESCRIPTION### end -->
	           
	           <!-- ###GROUPS_MEMBERS_LIST### begin -->
				<div class="tx-jpstaff-pi1-members-list">
					<!-- ###GROUPS_MEMBERS_LIST_ENTRY### begin -->   
					<address>
						<span class="name">
							###MEMBER_TITLE### ###MEMBER_FIRST_NAME### ###MEMBER_LAST_NAME###
						</span>
						<span class="branch">
			               	###MEMBER_BRANCH###
						</span>				
						<span class="position">
			               	###MEMBER_POSITION### 
						</span>
						<span class="telephone">
							###MEMBER_TELEPHONE_LABEL### ###MEMBER_TELEPHONE###
						</span>
						<span class="email">
							###LINK_MEMBER###
						</span>
					</address>	
					<!-- ###GROUPS_MEMBERS_LIST_ENTRY### end --> 
				</div>
	           <!-- ###GROUPS_MEMBERS_LIST### end -->
	       </div>
	    <!-- ###GROUP_DETAIL_VIEW_ENTRY### end --> 
	</div>
<!-- ###GROUP_DETAIL_VIEW### end -->