###ADDITIONAL_CLASSES###
###LINK_ITEM###
###LINK_ITEM_WRAP###
###TITLE###
###URL###
###DESCRIPTION###
###BOX_HEAD###

<!-- ###LIST_VIEW### begin -->
<div class="sideBox">
	<header>
	<div class="headerLeft">&nbsp;</div>
		<div class="headerContent links">
			<div class="sideBoxIcon"></div>
			<h4>Links</h4>
		</div>
		<div class="boxbody">
			<ul class="tx-jpdownloads-pi1-list-box">
				<!-- ###BOX_VIEW_ENTRY### begin -->
					<li class="###ADDITIONAL_CLASSES###">
						<!-- ###LINK_ITEM_WRAP### begin -->###TITLE###<!-- ###LINK_ITEM_WRAP### end -->
						<p>###DESCRIPTION###</p>
					</li>
				<!-- ###BOX_VIEW_ENTRY### end -->
			</ul>
		</div>
	<div class="headerRight">&nbsp;</div>
	</header>
</div>
<!-- ###LIST_VIEW### end -->


<!-- ###BOX_VIEW### begin -->
<div class="sideBox">
	<header>
	<div class="headerLeft">&nbsp;</div>
		<div class="headerContent links">
			<div class="sideBoxIcon"></div>
			<h4>###BOX_HEAD###</h4>
		</div>
		<div class="boxbody">
			<ul class="tx-jpdownloads-pi1-list-box">
				<!-- ###BOX_VIEW_ENTRY### begin -->
					<li class="###ADDITIONAL_CLASSES###">
						<!-- ###LINK_ITEM_WRAP### begin -->###TITLE###<!-- ###LINK_ITEM_WRAP### end -->
						<p>###DESCRIPTION###</p>
					</li>
				<!-- ###BOX_VIEW_ENTRY### end -->
			</ul>
		</div>
	<div class="headerRight">&nbsp;</div>
	</header>
</div>
<!-- ###BOX_VIEW### end -->


<!-- ###FCE_VIEW### begin -->
<ul class="tx-jpdownloads-pi1-list">
	<!-- ###FCE_VIEW_ENTRY### begin -->
		<li class="###ADDITIONAL_CLASSES###">
			###LINK_ITEM###
			<!-- ###LINK_ITEM_WRAP### begin -->###TITLE###<!-- ###LINK_ITEM_WRAP### end -->
			<p>###DESCRIPTION###</p>
		</li>
	<!-- ###FCE_VIEW_ENTRY### end -->
</ul>
<!-- ###FCE_VIEW### end -->
